<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ana Carolina Andrade</title>
    <img class="imagens" src="https://raw.githubusercontent.com/marcoscony99/foconosfocos/main/static/fotoperfil.png" alt="Foto de Ana Carolina, uma mulher branca, de cabelos castanhos na altura do ombro e óculos de grau">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <h1>Sobre mim</h1>

        <h2>Sou jornalista e produzo conteúdo para mídias digitais</h2>
        <p>Possuo graduação em <b>Jornalismo</b> pela <b>PUC-SP</b>, pós-graduação em Gestão da Comunicação em Mídias Digitais pelo <b>Senac SP</b>, especialização em <b>Gênero e Sexualidade</b> pela <b>UERJ</b> e atualmente curso um <b>Master em Jornalismo de Dados, Automação e Data Storytelling</b> no <b>Insper</b>.</p>
        
        <h2>Tenho experiência com gestão, produção de reportagens e criação de conteúdo para redes sociais</h2>
        <p>Já trabalhei na <b>Câmara Municipal de São Paulo</b>, na <b>Prefeitura Municipal de São Paulo</b>, com <b>jornalismo sindical</b>, cobertura sobre <b>direitos das mulheres</b> e no <b>BandNews TV</b>. Hoje sou freelancer.</p>
        
        <p>
          <button><a href="/curriculo">CURRÍCULO</a></button>
          <button><a href="/portfolio">PORTFÓLIO</a></button>
        </p>
       
    </div>
</body>
</html>