<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Portfólio</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
  <body>
      <h1>Portfólio</h1>
      <h2>Trabalhos recentes</h2>
      <img src="https://raw.githubusercontent.com/marcoscony99/foconosfocos/main/static/logos.jpg" alt="Régua de logotipos com os logos Bandnews, Fenametro Federação Nacional dos Metroviários, Mulheres do PSOL, Salonline, Sechat e Chicas Poderosas" width="440" height="180">
      
      <h3>Conheça alguns projetos em que trabalhei e veja exemplos de materiais produzidos:</h3>
      
      <h2>BandNews TV</h2>
      <p>Desenvolvi o trabalho de Social Media com redação de textos, edição de imagens e vídeos para o canal. Participei da cobertura das Eleições de 2022, e construí estratégias de cobertura para os debates eleitorais promovidos pelo Grupo Bandeirantes.</p>
      <img src="https://raw.githubusercontent.com/marcoscony99/foconosfocos/main/static/bandnews1.png" alt="Print de publicação no facebook com cena do debate presidenciável de 2022 com os candidatos Lula à esquerda e Bolsonaro à direita. No rodapé direito, há janela com o intérprete de libras" width="400" height="250">
      
      <h2>Fenametro</h2>
      <p>Produzo conteúdo para as redes sociais da entidade e reportagens sobre lutas sindicais. Desenvolvo estratégia, conteúdo, texto, edição de imagens e vídeos.</p>
      <img src="https://raw.githubusercontent.com/marcoscony99/foconosfocos/main/static/fenametro.png" alt="Print do portal da Fenametro com manchete Greve do Metrô de MG exige revogação de leilão e garantia do trabalho dos metroviários" width="400" height="250">
      
      <h3>Veja mais exemplos de reportagens:</h3>
      <a href="https://www.fenametro.org.br/noticias/encontro-internacional-de-metroviarios-amplia-unidade-da-luta-da-categoria.html">Encontro Internacional de metroviários amplia unidade da luta da categoria</a><br>
      <a href="https://www.fenametro.org.br/noticias/congresso-da-fenametro-organiza-categoria-para-combater-privatizacoes-bolsonaro-e-elege-nova-diretoria.html">Congresso da Fenametro organiza categoria para combater privatizações, Bolsonaro e elege nova diretoria</a>
      
      <h2>Mulheres do PSOL</h2>
      <p>Produzo conteúdo para as redes sociais das Mulheres do PSOL nas temáticas de gênero, feminismo e direitos humanos. Desenvolvo estratégia, conteúdo, texto e orientação de design para produção de materiais gráficos.</p>
      <img src="https://raw.githubusercontent.com/marcoscony99/foconosfocos/main/static/mulheresdopsol1.png" alt="Print de publicação no Instagram sobre os 91 anos da conquista do voto feminino no Brasil com foto de época com homens e mulheres em preto e branco" width="400" height="250">
      
      <h2>Chicas Poderosas</h2>
      <p>Participei da equipe que coordenou o Laboratório de Histórias Poderosas Brasil, um projeto da Chicas Poderosas com o apoio da Open Society Foundations em 2021. Atuei na gestão de projetos e logística. O projeto teve como foco a produção de reportagens para abordar a crise do cuidado no Brasil enfrentada por milhões de mulheres durante a pandemia.
      <a href="https://www.chicaspoderosas.org/noticias/historiasbrasil/">Conheça o projeto.</a></p>
      <img src="https://raw.githubusercontent.com/marcoscony99/foconosfocos/main/static/chicas.png" alt="Print de matéria com o título Histórias sobre como as mulheres enfrentaram a crise do cuidado no Brasil" width="400" height="250">
      
      <p>
        <button><a href="/">Home</a></button> 
        <button><a href="/curriculo">Currículo</a></button>
      </p>

  </body>
</html>